:host {
    display: block;
    padding: 4rem 2rem 6rem;
    /* background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%); */
    /* background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%); */
     clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 95%); 
background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.title {
    font-size: 4rem;
    padding: 0 0 2rem;
    text-align: center;
    font-style: italic;
    color: var(--black);
    text-decoration: underline;
    font-family: 'Roboto Condensed', sans-serif;
}

.name {
    grid-row: 3/4;
    padding: 2rem;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
    outline: 1px solid white;
    font-family: 'Roboto Condensed', sans-serif;
}

.name span:nth-of-type(1) span {
    font-size: 3rem;
    color: var(--black);
}

.name span:nth-of-type(2) {
    display: inline-block;
    color: var(--black);
    font-size: 4rem;
    font-weight: bold;
    padding: 10px 0;
    letter-spacing: 8px;
    text-shadow: 10px 8px 10px var(--black);
}

.profile {
    width: 99%;
    height: 281px;
    grid-row: 2/3;
    right: 3px;
    margin: 0px auto;
    position: relative;
    
}

.profile .profile-bg {
    height: 118%;
    width: 91%;
 
    left: 7px;
    position: absolute;
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    
    clip-path: circle(50% at 50% 50%);
}

.profile img {
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: circle(50% at 50% 50%);
}

/* PC */

:host.pc {
    padding: 4rem 2rem 10rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
}

:host.pc .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

:host.pc .title {
    grid-column: 1/2;
    padding: 0%;
    margin: auto;
    font-size: 5rem;
    font-style: normal;
    text-decoration: none;
}

:host.pc .profile {
    grid-row: 1/3;
    grid-column: 2/3;
    width: 600px;
    height: 600px;
}

:host.pc .name {
    grid-row: 2/3;
    width: 600px;
    margin: auto;
    margin-left: 0;
    margin-bottom: 0;
    height: max-content;
}

:host.pc .profile{

    width: 400px;
    height: 400px;
    grid-row: 2/3;
    margin: 0 auto;
    position: relative;
   


}

:host.pc .profile .profile-bg {
    height: 100%;
    width: 100%;
    bottom: 0%;
    position: absolute;
    background-color: black;
    clip-path: circle(50% at 50% 50%);
}