:host{
    display: block;
    color:black;
    padding: 3rem 2rem;

}

ul:has(ul){
    padding: 0%;
    list-style: none;
}

ul li:has(ul){
    margin-top: 2rem;
}

ul li h2{
    color: var(--black);
    font-size: 1.35rem;
}

ul li h4{

    color: var(--black);
font-size: 1.15rem;
}

ul li h3{

    color:var(--black);
    font-size:1.25rem;
}

.title{
    text-align: left;
    margin: auto;
    width: 95%;
    font-size: 1.85rem;
 }
 .title span{
     color: black;
     
 }

:host.pc ul li:has(ul){
    width: max-content;
    position: relative;
    margin-left: 5rem;
}

:host.pc ul li:has(ul)::before{

    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left:-60px;
    top:5px;
    border-radius: 50%;
    z-index: 2;
    background-color: var(--black);
}

:host.pc ul li:has(ul)::after{
content: '';
position: absolute;
width: 1px;
height: 130%;
left: -50px;
top: 5%;
z-index: 1;
background-color: var(--black);
}

:host.pc ul li:has(ul):last-child::after{
    height: 100%;
}



